.search{
    border: none;
    background: #eaeaea;
    width: 80%;
    height: .706667rem;
    border-radius: 20px;
    padding-left: .8rem;
}
.icon-seatch {
    position: absolute;
    left: .2rem;
    top: .133333rem;
}
.content {
    margin: 0 .4rem;
}